.attendance-stats{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}

.attendance-card{

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    padding:28px;

}

.attendance-card h3{

    color:white;

    font-size:34px;

    margin-bottom:10px;

}

.attendance-card span{

    color:#94a3b8;

}

@media(max-width:1200px){

    .attendance-stats{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){

    .attendance-stats{

        grid-template-columns:1fr;

    }

}