.attendance-header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;

}

.attendance-header h2{

    color:#fff;
    font-size:34px;
    font-weight:700;
    margin-bottom:8px;

}

.attendance-header p{

    color:#94a3b8;
    margin:0;

}

.attendance-btn{

    display:flex;
    align-items:center;
    gap:10px;

    border:none;

    padding:14px 24px;

    border-radius:14px;

    background:#2563eb;

    color:#fff;

    cursor:pointer;

    transition:.3s;

    font-weight:600;

}

.attendance-btn:hover{

    background:#1d4ed8;

}

@media(max-width:768px){

    .attendance-header{

        flex-direction:column;
        align-items:flex-start;

    }

    .attendance-btn{

        width:100%;
        justify-content:center;

    }

}